$mint-green: #cfc7c0;
$off-white: #f5f3f0;
$sandy-brown: #b0946f;
$dark-gray: #333333;
$midnight-black: #242423;
$golden-beige: #b19671;
$soft-beige: #eeece3;
$cream-white: #f5f1e5;
$light-skin: #dead9a;
$dark-skin: #a47671;
$cream: #f9d6b6;
$dirty-cream: #cab8b9;
$white:#f7f4f4;
$dirty-white: #f2f1f1;
$light-silver: #e9e9e9;
$silver: #b5b6ba;
$gray: #7b767c;
$brown: #3c302f;
$fade-black: #333;
$black: #000000;
