$light-cream: #f7f5ed;
$cream: #f3ede7;
$warm-cream: #f0e9e2;
$warmer-cream: #EDE6DC;


$dirty-cream:#eeece3;


$dirty: #cfc7c0;

$gold: #bd9662;
$sand: #b0946f;
$beige: #a18053;

$coffee: #3c302f;
$dark-gray:#252222;
$fade-black: #333;
$black: #000000;

$white:#f7f4f4;
$soff-white: #f5f3f0;
$dirty-white: #f2f1f1;
$light-silver: #e9e9e9;
$silver: #b5b6ba;
$gray: #7b767c;