@use "../../styles/partials/typography-mixins" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $mid-space-between;
  @include tablet {
    align-items: flex-start;
    gap: $large-space-between;
  }

  &__intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-title {
      @include page-header;
      color: $coffee;
    }

    &-banner {
      img {
        overflow: hidden;
        aspect-ratio: 0.8;
        max-width: 11rem;
        max-height: 11rem;
        @include tablet {
          max-width: 22rem;
          max-height: 22rem;
        }
        @include desktop {
          max-width: 33rem;
          max-height: 33rem;
        }
      }
    }
  }

  &__slogan {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-dirty;
    padding: $smallest-space-between;
    gap: $smallest-space-between;
    @include tablet {
      gap: $tiny-space-between;
    }

    &-wrapper {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: $tiny-space-between;
      @include tablet {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &-text {
      @include subheader;
      color: $dark-green;
      text-align: center;
      @include tablet {
        text-align: left;
      }
    }

    img {
      width: 150px;
      @include tablet {
        width: 200px;
      }
      @include desktop {
        width: 250px;
      }
    }

    button {
      @include labels-links-button;
      background-color: $blue;
      color: $light-silver;
      border: none;
      border-radius: $oval-border-radius;
      padding: $tiny-space-between $small-space-between;
      @include tablet {
        padding: $smallest-space-between $tablet-padding;
      }
      &:hover {
        background-color: $dark-blue;
        cursor: pointer;
      }
    }
  }

  &__invite {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: $mobile-padding;
    @include tablet {
      flex-direction: row;
      justify-content: space-around;
      gap: 0;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: $smallest-space-between;
      @include tablet {
        width: fit-content;
      }
    }

    &-title {
      @include subheader;
      text-align: center;
    }

    button {
      @include body-large;
      font-weight: bold;
      background-color: $dark-wood;
      border: 2px solid $black;
      border-radius: 7px;
      background-size: 200% auto;
      background-image: linear-gradient(
        to right,
        $dark-wood 0%,
        $dark-wood 50%,
        $wood 50%,
        $light-wood 75%,
        $cream 100%
      );
      transition: background-position 0.4s ease-in-out, height 0.4s, width 0.4s;
      height: 36px;
      width: 100px;
      @include tablet {
        height: 40px;
        width: 120px;
      }
      @include desktop {
        height: 52px;
        width: 100px;
      }
      &:hover {
        cursor: pointer;
        transform: scale(1.02);
        border: 3px solid $black;
        background-position: right center;
      }
    }
  }

  &__activity {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    gap: $mobile-padding;
  }
}
