@use "../../styles/partials/typography-mixins" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;

.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid $gray;
  gap: $small-space-between;
  @include tablet {
    flex-direction: row;
  }

  &__poster {
    width: 40%;
    @include tablet {
      width: 50%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $small-space-between;
    @include tablet {
      align-items: flex-start;
    }
  }
  &__title {
    @include subheader;
    text-align: center;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $tiny-space-between;
  }
  &__subsection {
    display: flex;
    align-items: center;
    &-icon {
      width: 24px;
      @include tablet {
        width: 28px;
      }
    }
    &-info {
      text-align: center;
      @include labels-links-button;
      font-weight: lighter;
    }
  }

  &__see-more {
    @include body-large;
    background-color: $cream;
    border: none;
    color: $fade-black;
    text-decoration: underline;
    margin-bottom: $small-space-between;
    &:hover {
      cursor: pointer;
      color: $beige;
    }
  }

  &--expanded {
    width: 100%;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
    .event-card {
      &__details {
        margin-bottom: 0;
      }
      &__description {
        @include body-medium;
        display: flex;
        flex-direction: column;
        gap: $smallest-space-between;
        padding: 0 $smallest-space-between 0 $mid-space-between;
      }
      &__detail-wrapper {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: $small-space-between;
      }
      &__fee {
        @include body-medium;
      }

      &__register {
        @include labels-links-button;
        cursor: pointer;
        margin-bottom: $small-space-between;
        padding: $tiny-space-between $small-space-between;
        background-color: $cream;
        border-radius: $oval-border-radius;
        color: $fade-black;
        border: 1px solid $silver;
      }
    }
  }
}
